<!DOCTYPE HTML>
<html>
<head>
	<title>Game Information</title>
	<meta charset = "UTF-8" />
  	<link rel="stylesheet" href={{ url_for('static', filename='info.css')}}/>

</head>
<div class="tab">
        <button class="tablinks" onclick="location.href = 'http://10.0.2.15:5000/login'">Login</button>
        <button class="tablinks" onclick="location.href = 'http://10.0.2.15:5000/register'">Register</button>
        <button class="tablinks" onclick="location.href = 'http://10.0.2.15:5000/'">Home</button>
</div>

	<h1>About Covidology</h1>
<body>
	<div class="info"><h2>Purpose:</h2>Purpose of the project is to educate the general public about coronavirus and how to not catch it by creating</br> a game where the character is placed in a sensitive environment considering coronavirus.
 The player will have</br> various options to choose from and their decision reflects if they have won or lost the game.
Another purpose of </br> the project is also to educate the next generation on how to prevent another pandemic from happening.</div> </br> 

	<div class="dis"><h2>Game Play:</h2>Players navigate through the map. The player has an exposure meter. When navigating through the map the meter will go up.
 If the meter is full they have been fully exposed to Covid-19. Being fully exposed means the player loses the game.
 NPCs around the map will give players tasks, when completed they gain experience points. With enough experience points the
 players can level up. Leveling up gives players perks. Perks will slow down the exposure meter.</br></br>
 Level 1: Mask</br>Level 2: Vaccine 1</br>Level 3: Vaccine 2</br> Level 4: Booster



</div>

</body>
</html>
