<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title>Home</title>
  <meta charset = "UTF-8" />
	<link rel="stylesheet" href={{ url_for('static', filename='style.css')}}/>
</head>
<div class="tab">
	<button class="tablinks" onclick="location.href = 'http://10.0.2.15:5000/login'">Login</button>
	<button class="tablinks" onclick="location.href = 'http://10.0.2.15:5000/register'">Register</button>
	<button class="tablinks" onclick="location.href = 'http://10.0.2.15:5000/info'">Game Info</button>
</div>
<body>
  <h1> Covidology</h1>
  <h3> A Covid Simulator </h3>
  <button class="button"> Play Now </button>  
</body>
</html>
