<div class="quiz-container" id="quiz">
    <div class="quiz-header">
      <h2 id="question">Question Text</h2>
      <ul>
        <li>
          <input type="radio" name="answer" id="a" class="answer">
          <label for="a" id="a_text">Answer</label>
        </li>

        <li>
          <input type="radio" name="answer" id="b" class="answer">
          <label for="b" id="b_text">Answer</label>
        </li>

        <li>
          <input type="radio" name="answer" id="c" class="answer">
          <label for="c" id="c_text">Answer</label>
        </li>

        <li>
          <input type="radio" name="answer" id="d" class="answer">
          <label for="d" id="d_text">Answer</label>
        </li>

      </ul>
    </div>

    <p> Download: <a href="https://drive.google.com/file/d/1FkZpMdhcqNZf17IirxrEbypYG_MQkSYo/view?usp=sharing"> Download Game Here</a> </p>

    <button id="submit">Submit</button>

  </div>

  <script>
      const quizData = [
    {
        question: "What was the name of the first Character you met?",
        a: "Kevin",
        b: "Berry",
        c: "Garry",
        d: "Steve",
        correct: "c",
    },
    {
        question: "What color was the first Character playing?",
        a: "Blue",
        b: "Orange",
        c: "Purple",
        d: "Yellow",
        correct: "d",
    },
    {
        question: "What did Garry tell you to do?",
        a: "Leave town",
        b: "Go get a mask",
        c: "Go around town",
        d: "Go get the vaccine",
        correct: "b",
    },
    {
        question: "Who did you get a mask from?",
        a: "Mary",
        b: "Kelly",
        c: "Boddy",
        d: "Sandy",
        correct: "a",
    },
    {
        question: "Who did you get the First dose of the vaccine from?",
        a: "Johnny",
        b: "Ryan",
        c: "Oliver",
        d: "none of the above",
        correct: "b",
    },
    {
        question: "Who did you get the second dose of the vaccine from?",
        a: "Nathen",
        b: "Nia",
        c: "Parry",
        d: "Berry",
        correct: "d",
    },
    {
        question: "Who did you get the booster of the vaccine from?",
        a: "Berry",
        b: "Ryan",
        c: "Craig",
        d: "Larry",
        correct: "c",
    },
    {
        question: "What color was the exposure bar?",
        a: "yellow",
        b: "purple",
        c: "red",
        d: "grey",
        correct: "c",
    },
    {
        question: "What sound did the walk NPCs make?",
        a: "Cough",
        b: "Sneeze",
        c: "Throwing up",
        d: "none of the above",
        correct: "a",
    },
    


];

const quiz= document.getElementById('quiz')
const answerEls = document.querySelectorAll('.answer')
const questionEl = document.getElementById('question')
const a_text = document.getElementById('a_text')
const b_text = document.getElementById('b_text')
const c_text = document.getElementById('c_text')
const d_text = document.getElementById('d_text')
const submitBtn = document.getElementById('submit')


let currentQuiz = 0
let score = 0

loadQuiz()

function loadQuiz() {

    deselectAnswers()

    const currentQuizData = quizData[currentQuiz]

    questionEl.innerText = currentQuizData.question
    a_text.innerText = currentQuizData.a
    b_text.innerText = currentQuizData.b
    c_text.innerText = currentQuizData.c
    d_text.innerText = currentQuizData.d
}

function deselectAnswers() {
    answerEls.forEach(answerEl => answerEl.checked = false)
}

function getSelected() {
    let answer
    answerEls.forEach(answerEl => {
        if(answerEl.checked) {
            answer = answerEl.id
        }
    })
    return answer
}


submitBtn.addEventListener('click', () => {
    const answer = getSelected()
    if(answer) {
       if(answer === quizData[currentQuiz].correct) {
           score++
       }

       currentQuiz++

       if(currentQuiz < quizData.length) {
           loadQuiz()
       } else {
           quiz.innerHTML = `
           <h2>You answered ${score}/${quizData.length} questions correctly</h2>

           <button onclick="location.reload()">Reload</button>
           `
       }
    }
})
  </script>